.container .title{
    font-size: 2.5rem;
    display: flex;
    text-align: center;
    margin: 2rem 0 1rem;
    justify-content: center;
}
.container .title {
    text-align: center;
    color: #f7d354;
    text-shadow: 1px 1px 4px black;
}
.pokemon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* .container div:has(div:hover)>div:not(:hover){
    background-color: #888888;
} */

